.nav__logo {
    width: 113.33px;
    height: 43px;
    padding: 13px 0 13px 0;
    background-color: transparent;
    margin-bottom: 20px;
}

.nav__image {
    width: 113.33px;
    height: 17px;
    color: #181818;
}