.bar__playerProgress {
    --progress-height: 8px;
    --progress-color: #b672ff;

    --progress-bg-color: #2e2e2e;

    margin: 0;
    width: 100%;
    height: var(--progress-height);
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
    position: relative;
    overflow: hidden;
}

.bar__playerProgress::-webkit-slider-runnable-track {
    position: relative;
    height: var(--progress-height);
    background: var(--progress-bg-color);
}

.bar__playerProgress::-webkit-slider-thumb {
    --thumb-height: 1px;
    --thumb-width: 1px;
    position: relative;
    -webkit-appearance: none;
    width: var(--thumb-width, var(--thumb-height));
    box-shadow: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax var(--progress-color);
}

.bar__playerProgress::-webkit-slider-runnable-track {
    background: var(--progress-bg-color);
}

/* FF */
.bar__playerProgress::-moz-range-track {
    width: 100%;
    height: var(--progress-height);
    background: var(--progress-bg-color);
    border: none;
    border-radius: 0px;
}

.bar__playerProgress::-moz-range-thumb {
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: transparent;
}

.bar__playerProgress::-moz-range-progress {
    background-color: var(--progress-color);
    height: var(--progress-height);
}

.bar__time {
    position: absolute;
    top: -25px;
    width: 100%;
    text-align: right;
}