.sidebar__personal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 0 15px 0;
}

.sidebar__personalName {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 16px;
}

.sidebar__avatar {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.sidebar__button {
    background-color: rgba(28, 28, 28, 0);
    border: none;
}