.nav__menu {
    display: block;
    visibility: visible;
}

.menu__list {
    padding: 18px 0 10px 0;
}

.menu__item {
    padding: 5px 0;
    margin-bottom: 16px;
    background: transparent;
    border: medium none;
}

.menu__link {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: rgba(28, 28, 28, 0);
    border: medium none;
}